:root {
	font-family: 'Noto Sans Mono', 'Courier New', monospace;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	color-scheme: light dark;
	color: #0fff00;
	background: #000;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}
